body{
    font-family: Arial;
    background: #f4f4f4;
}

.form-container {
  width: 400px;
  margin: auto;
  background: white;
  padding: 20px;
  margin-top: 50px;
  box-shadow: 0px 0px 10px #ccc;
}

input, textarea {
  width: 90%;
  padding: 10px;
  margin: 8px 0;
}

button {
  background: #3498db;
  color: white;
  padding: 10px;
  border: none;
  width: 100%;
}